/* VERSIONE XS */

/* impostazioni generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6, .btn {
  font-weight: 700;
}

p {
  font-weight: 400;
  line-height: 150%;
}

ul {
  list-style-type: none;
}

.row {
  height: 100%;
}

/* NAVBAR */

@media (min-width: 768px) and (max-width: 992px) {
  .nav {
   display: none !important;
  }
  .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    width: 100%;
  }
}

/* blocco barra di navigazione (prima riga) */
#prima {
  background: #fff;
  border-bottom: solid 1px rgba(124, 144, 204, 0.5);
}

#prima .navbar {
  margin-bottom: 0;
}

#prima .navbar-default {
  background-color: #fff;
  border-color: #fff;
  font-size: 15px;
}

#prima .navbar-brand {
  height: 55px;
}

#prima .navbar-brand > img {
  height: 100%;
}

#prima .navbar-default .navbar-nav > li > a {
  color: hsl(221,93%,16%);
  font-weight: 300;
}

#prima .navbar-default .navbar-nav > li > a:hover  {
  color: #006aff;
}

#prima .btn {
  color: #006aff;
  border-color: #006aff;
}

#prima .btn:hover {
  background-color: #006aff;
  color: #fff;
}

/* blocco parte principale (main)*/

/* impostazioni generali main */

main section {
  padding: 60px 0;
}

main h2, h3, h4, h5, h6 {
  color: #031b4e;
}

main h2 {
  text-align: center;
}

main p {
  color: #5b6987;
}
 /* blocco titolo (seconda riga) */

#seconda {
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
  background-position: 70% 50%;
  padding: 150px 0 80px;
 }

#seconda .blocco-titolo h1 {
  font-size: 60px;
  margin-bottom: 30px;
  color: #fff;
 }

#seconda .blocco-titolo p {
  font-size: 24px;
  line-height: 150%;
  color: #fff;
}

#seconda .registrazione {
  padding: 5%;
  border-radius: 5px;
  background-color: #fff;
}

#seconda .registrazione h3{
  text-align: center;
  font-size: 30px;
}

#seconda .registrazione h3:nth-last-child(2) {
  color: #006aff;
}

#seconda .form-control {
  font-size: 20px;
}

#seconda .btn {
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
}

#seconda .registrazione > form > button {
  background-color: #0069ff;
  color: #fff;
}

#seconda .registrazione > form > button:nth-last-child(2) {
  background-color: #fff;
  background-image: url(moz-extension://1bb6909e-f319-4ea7-a8a9-b5cb4b971631/favicon.ico);
  background-repeat: no-repeat;
  background-position: left;
  color: #031b4e;
}

#seconda .registrazione > form > button:nth-last-child(2):hover {
  color: #0069ff;
}

#seconda .registrazione p {
  text-align: center;
  color: #031b4e;
  font-size: 16px
}

#seconda .registrazione a {
  text-decoration: underline;
}

/* blocco businesses (terza riga) */

#terza {
  background-color: #f3f5f9;
  padding: 30px 0;
}

#terza h5 {
  color: #5b6987;
}

#terza  img {
  max-width: 100%;
  height: 150px;
}

.collegamento {
  font-size: 15px;
  font-weight: 400;
  color: #006aff;
}

.collegamento:hover {
  text-decoration: none;
  color: #031b4e;
}
/* blocco deploy (quarta riga) */

.h2-p-sez-main h2 {
  font-size: 36px;
}

.h2-p-sez-main p {
  font-size: 20px;
}

#quarta .deploy ul {
  border-left: solid 1px rgba(3, 27, 78, 0.6);
  margin-top: 80px;
}

#quarta .deploy li {
  padding: 15px 20px;
}

#quarta .deploy li:first-child {
  border-left: solid 1px rgba(3, 27, 78, 1);
}

#quarta .deploy li:first-child a {
  color: rgba(3, 27, 78, 1);
}

#quarta .deploy a {
  color: rgba(3, 27, 78, 0.6);
  font-size: 20px;
}

#quarta .deploy li:hover {
  cursor: pointer;
  border-left: solid 1px rgba(3, 27, 78, 1);
}

#quarta .deploy a:hover {
  text-decoration: none;
}

#quarta .deploy li:hover a {
  color: rgba(3, 27, 78, 1);
}

#quarta .deploy-1 {
  margin-top: 80px;
}

#quarta .deploy-1 img {
  margin-bottom: 15px;
}

#quarta .deploy-1 h5, p {
  font-size: 16px;
  margin-bottom: 25px;
}

 /* blocco designed  (quinta riga) e blocco Development teams (ottava riga)*/

#quinta, #ottava {
  background-color: #f3f5f9;
}

.designed {
  margin-bottom: 60px;
}

.quinta-central img {
  width: 100%;
  max-height: 500px;
}

.quinta-left, .quinta-right {
  position:relative;
  width: 100%;
  font-size: 30px;
  color: #031b4e;
}

.quinta-left i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.quinta-right i {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.quinta-left i:hover, .quinta-right i:hover {
  cursor: pointer;
}

#quinta .col-xs-1, #ottava .col-xs-1 {
  display: none;
}

#quinta li, #ottava li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 1px #006aff;
  margin-top: 20px;
}

#quinta li:first-child, #ottava li:first-child {
  background-color: #006aff;
}

#quinta li:hover, #ottava li:hover {
  cursor: pointer;
  background-color: #006aff;
}

/* blocco the features(sesta riga) */

#sesta .features {
  padding-top: 40px;
}

#sesta img {
  margin: 10px 0;
}

#sesta h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

/* blocco Services (settima riga) */

#settima {
  background: #031b4e url(https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format);
  color: rgba(255, 255, 255, 0.6);
}

#settima h2 {
  color: #fff;
}

#settima .table > tbody > tr > td {
  border-color: hsla(0,0%,100%,0.2);
}

#settima .table > tbody > tr:first-child  > td {
  border-top: 0;
}

#settima .table > tbody > tr  > td:first-child {
  color: #fff;
}

#settima .table > tbody > tr  > td:last-child {
  text-align: right;
}

#settima .table > tbody > tr  > td:last-child a {
  color: #00d7d2;
}

#settima .table > tbody > tr  > td:last-child:hover a {
  color: #006aff;
  text-decoration: none;
}

/* blocco Get started now (nona riga) */

#nona {
  background-image: url(../img/bg-home-cta.svg);
  background-size: cover;
}

#nona h2 {
  margin-bottom: 50px;
  color: #fff;
}

#nona .btn{
  color: #0069ff;
  font-size: 18px;
  height: 60px;
}

/* blocco parte finale (footer)  */

#decima {
  background-color: hsl(220,95%,8%);
}


/* VERSIONE SM */

@media all and (min-width: 768px) {

  /* blocco titolo (seconda riga) */

  #seconda .blocco-titolo h1 {
   font-size: 40px;
  }

  #seconda .blocco-titolo p {
    font-size: 20px;
  }

  #seconda .registrazione h3 {
    font-size: 30px;
  }

  #seconda .form-control {
    font-size: 20px;
  }

  #seconda .btn {
    font-size: 16px;
  }

   /* blocco designed  (quinta riga) e blocco Development teams (ottava riga)*/

  #quinta .col-sm-2, #ottava .col-sm-2 {
    display: block;
  }

  .quinta-left, .quinta-right {
    height: 318.5px;
  }



}

/* VERSIONE MD */

@media all and (min-width: 992px) {

   /* blocco titolo (seconda riga) */

   #seconda .blocco-titolo h1 {
     font-size: 60px;
   }

   #seconda .blocco-titolo p {
     font-size: 24px;
   }

   #seconda .registrazione h3 {
     font-size: 30px;
   }

   #seconda .form-control {
     font-size: 20px;
   }

  #seconda .btn {
    font-size: 16px;
  }

   /* blocco designed  (quinta riga) e blocco Development teams (ottava riga)*/

  .quinta-left, .quinta-right {
    height: 413.83px;
  }

  /* blocco the features(sesta riga) */

  #sesta .features {
    padding: 40px 15% 0;
  }

}

  /* VERSIONE LG */

  @media all and (min-width: 1200px) {


  #prima .navbar-brand {
    margin-right: 50px;
  }

   /* blocco designed  (quinta riga) e blocco Development teams (ottava riga)*/

  .quinta-left, .quinta-right {
    height: 500px;
  }

}
