/* VERSIONE XS */

/* impostazioni generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6, .btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.row {
  height: 100%;
}

/* NAVBAR */

@media (min-width: 768px) and (max-width: 992px) {
  .nav {
   display: none !important;
  }
  .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    width: 100%;
  }
}

/* blocco barra di navigazione (prima riga) */
#prima {
  background: #fff;
  border-bottom: solid 1px rgba(124, 144, 204, 0.5);
}

#prima .navbar-default {
  background-color: #fff;
  border-color: #fff;
  font-size: 13px;
}

#prima .navbar-brand {
  margin-right: 50px;
}

#prima .navbar-brand > img {
  width: 100%;
  height: 100%;
}

#prima .navbar-default .navbar-nav > li > a {
  color: hsl(221,93%,16%);
}

#prima .navbar-default .navbar-nav > li > a:hover  {
  color: #006aff;
}

#prima .btn {
  color: #006aff;
  border-color: #006aff;
}

#prima .btn:hover {
  background-color: #006aff;
  color: #fff;
}

main section {
  padding: 60px 0;
}
 /* blocco titolo (seconda riga) */

 #seconda {
   background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
   background-size: cover;
   background-position: 70% 50%;
   padding-top: 130px;
 }

 #seconda .blocco-titolo {
   color: #fff;
 }
 #seconda .blocco-titolo h1 {
   font-size: 60px;
   margin-bottom: 30px;
 }

 #seconda .blocco-titolo p {
   font-size: 24px;
   line-height: 150%;
 }

 #seconda .registrazione {
   padding: 5%;
   border-radius: 5px;
   background-color: #fff;
 }

 #seconda .registrazione h3 {
   font-size: 30px;
   color: #006aff;
   text-align: center;
 }

 #seconda .registrazione h3:first-child {
   color: #031b4e;
 }

 #seconda .form-control {
   font-size: 20px;
 }

#seconda .btn {
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
}

#seconda .registrazione > form > button {
  background-color: #0069ff;
  color: #fff;
}

#seconda .registrazione > form > button:nth-last-child(2) {
  background-color: #fff;
  background-image: url(moz-extension://1bb6909e-f319-4ea7-a8a9-b5cb4b971631/favicon.ico);
  background-repeat: no-repeat;
  background-position: left;
  color: #031b4e;
}

#seconda .registrazione > form > button:nth-last-child(2):hover {
  color: #0069ff;
}

#seconda .registrazione p {
  text-align: center;
  color: #031b4e;
  font-size: 16px
}

#seconda .registrazione a {
  text-decoration: underline;
}

/* blocco businesses (terza riga) */

#terza {
  background-color: #f3f5f9;
}

#terza  img {
  max-width: 100%;
  height: 150px;
}

/* VERSIONE SM */

@media all and (min-width: 768px) {

   /* blocco titolo (seconda riga) */

   #seconda .blocco-titolo h1 {
     font-size: 40px;
   }

   #seconda .blocco-titolo p {
     font-size: 20px;
   }

   #seconda .registrazione h3 {
     font-size: 30px;
   }

   #seconda .form-control {
     font-size: 20px;
   }

  #seconda .btn {
    font-size: 16px;
  }

  /* blocco businesses (terza riga) */


}

/* VERSIONE MD *//* VERSIONE LG */

@media all and (min-width: 992px) {

   /* blocco titolo (seconda riga) */

   #seconda .blocco-titolo h1 {
     font-size: 60px;
   }

   #seconda .blocco-titolo p {
     font-size: 24px;
   }

   #seconda .registrazione h3 {
     font-size: 30px;
   }

   #seconda .form-control {
     font-size: 20px;
   }

  #seconda .btn {
    font-size: 16px;
  }

  /* blocco businesses (terza riga) */


}
